numpy==1.19.2
pandas==1.1.5
scikit-learn==0.23.1
joblib == 0.14.1
tpot == 0.11.1
Pillow==8.0.0
protobuf==3.15.8
gdown==3.13.0
streamlit==0.81.0
urllib3==1.22
sklearn==0.0
xgboost==0.90
pylint==2.4.3
xlrd==2.0.1
